.tableContainer {
    overflow: hidden;
    overflow-x: scroll;
    padding: 6px;
    max-height: 72vh;
    height: fit-content;
    overflow-y: scroll;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    font-size: 0.875rem;
}

.table, .table tr, .table td {
    border: 0.5px solid rgb(179, 215, 187);
    background-color: white;
}

.table tr:first-child td {
    padding: 2px 8px;
    letter-spacing: 1px;
}
.table tr:nth-child(2) td:nth-child(1),
.table tr:nth-child(2) td:nth-child(n + 2):has(input:not(:focus)),
.table tr:nth-child(3) {
    font-weight: 600;
}
.table tbody tr:nth-child(odd) input,
.table tbody tr:nth-child(odd) td {
    background-color: rgb(225, 236, 226);
}

.table td input,
.table td {
    padding-inline: 4px;
    text-wrap: nowrap;
}

.table td.disabled {
    background-color: rgb(198, 198, 198);
    color: rgb(109, 109, 109);
}

.table tr:nth-child(3) td:nth-child(5n + 8),
.table tr:nth-child(3) td:nth-child(3),
.table tr:nth-child(n+4) td:not(:has(input)) {
    background-color: #fff0d2;
    color: #82a472;
}

.table tr:first-child td {
    font-weight: 600;
    background-color: rgb(113, 145, 113) !important;
    color: rgb(217, 236, 214);
}

.table tr:nth-child(3) td {
    text-align: center;
}

.table input {
    outline: none;
    border: none;
}

.table td:has(input) {
    padding: 0px;
}

.table tr td input {
    border: none;
    width: 100%;
}
.table tr td div:has(input) {
    display:flex;
}

.table input:hover:not(:focus):not(:disabled),
.table td:has(input:hover:not(:disabled)):not(:has(input:focus)) {
  background-color: rgb(203, 242, 255) !important;
  z-index: 1;
}

.table td {
    position: relative;
}

.table td:has(input:focus) {
    outline: 1px solid rgb(138, 138, 255);
    box-shadow: 1px 1px 2px black;
    z-index: 20 !important;
}

.table tr:nth-child(2) input:not(:focus),
.table tr:nth-child(2) td {
    text-align: center;
}

.table tr:nth-child(2) input:placeholder-shown {
    font-weight: 400;
}
.table tr td input:not(:focus) {
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.table tr:nth-child(n+3) td:nth-child(2) input,
.table tr:nth-child(n+3) td:nth-child(5n + 4) input,
.table tr:nth-child(n+3) td:nth-child(5n + 5) input,
.table tr:nth-child(n+3) td:nth-child(5n + 6) input,
.table tr:nth-child(n+4) td:nth-child(5n + 8) {
    text-align: right;
}

.table tr:nth-child(n+3) input:not(:focus)::placeholder {
    text-align: left;
}

.table tbody tr:nth-child(2) td {
    position: sticky;
    top: -6px;
    background: white;
    z-index: 9;
}

.table tbody tr:nth-child(3) td {
    position: sticky;
    top: 15px;
    z-index: 8;
}

.table tbody tr:nth-child(2) td:nth-child(1),
.table tbody tr:nth-child(3) td:nth-child(1) {
    position: sticky;
    left: -6px;
    z-index: 12;
}
/* item sticky */
table.table tbody tr:nth-child(2) td:nth-child(1),
table.table tbody tr:nth-child(3) td:nth-child(1),
table.table tbody tr:nth-child(3) td:nth-child(2) {
    z-index:14;
}
/* table.table tbody tr:nth-child(n + 4) td:nth-child(3) {
    border-right: 1px solid rgb(150, 150, 150);
} */
/* item input sticky consistency START */
.table tbody tr:nth-child(n+3) td:nth-child(1) {
    position: sticky;
    left: -6px;
    z-index: 10;
    min-width: 118px;
    max-width:118px;
}
.table tbody tr:nth-child(2) td:nth-child(n + 2) > div,
.table tbody tr:nth-child(n+3) td:nth-child(1) > div {
    display:flex;
}
.table tbody tr:nth-child(n+3) td:nth-child(1) > div input {
    width:100%;
}
/* item input sticky consistency END */
.table tbody tr:nth-child(n+3) td:nth-child(2) {
    position: sticky;
    left: 112px;
    z-index: 11;
}

.table tr:nth-child(n+3) td:nth-child(3) {
    position: sticky;
    left: 222px;
    z-index: 12;
}

.table tr:nth-child(3) td:nth-child(-n+3) {
    z-index: 15;
}


.table td div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table td:has(input) button {
    height: 14px;
    width: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: rgb(186, 186, 186);
    border-radius: 2px;
    cursor: pointer;
    font-weight: 600;
    margin-right: 2px;
}

.table td:has(input) button:hover {
    background-color: rgb(255, 120, 120);
    border: 1px solid rgb(255, 120, 120);
    color: white;
}

.table td:has(input) button:hover::after {
    color: white;
}

table.table input:disabled::placeholder {
    color:transparent;
}



.table input[type=number]::-webkit-inner-spin-button,
.table input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.table input[type=number] {
  -moz-appearance: textfield;
}

.table input:disabled,
.table td:has(input:disabled) {
    background-color: rgb(227, 227, 227);
    color:black;
}
.table tr:nth-child(odd) input:disabled,
.table tr:nth-child(odd) td:has(input:disabled) {
    background-color: rgb(204, 217, 205);
}