.logContainer {
    margin-top: 8px;
    display:flex;
    flex-direction: column;
    gap:16px;
}
.changelog {
    font-size: 0.75rem;
    display:flex;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    background-color: rgb(243, 243, 243);
    padding:16px;
    padding-left:8px;
}
.header {
    text-align: right;
    color:rgb(104, 104, 104);
    width: fit-content;
}
.header > h1:nth-child(1) {
    font-size: 1.1rem;
}
.header > h1:nth-child(2) {
    font-size: 1rem;
    font-weight: 400;
}
.log {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
    border-left: 4px solid rgb(194, 194, 194);
    background-color: rgb(231, 231, 231);
    gap:6px;
    padding:8px;
    width: 100%;
}
.dataWrapper {
    display:flex;
    flex-direction: column;
    padding:12px;
    font-size: 0.875rem;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgb(170, 170, 170);
}
.dataWrapper > *:nth-child(n + 2) {
    margin-left: 4px;
    
}
.before {
    background-color: rgb(243, 208, 208);
    color: rgb(148, 104, 104);
}
.after {
    background-color: rgb(202, 231, 202);
    color: rgb(83, 124, 83);
}

.description {
    font-weight: 900;
    font-size: 0.9rem;
    margin-bottom: 4px;
    letter-spacing: 0.5px;
}
.before .description {
    color: rgb(118, 29, 29);
}
.after .description {
    color: rgb(24, 98, 24);
}

.vendorContainer {
    display: flex;
    flex-wrap: wrap;
}
.vendorContainer > * {
    margin-inline: 12px;
    margin-block:4px;
}

.vendorName {
    font-weight: 600;
}

.fields {
    display:flex;
    flex-wrap: wrap;
    gap:4px;
    width: fit-content;
}
.fields > * {
    padding-inline: 6px;
    border-radius: 4px;
}
.before .fields > * {
    background-color: rgb(229, 186, 186);
}
.after .fields > * {
    background-color: rgb(180, 217, 180);
}

.noChanges {
    text-align: center;
    color: #888;
    font-style: italic;
    padding: 2rem 1rem;
    border: 1px dashed #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}