.attach {
    display: flex;
    flex-direction: column;
    gap:12px;
    margin-top: 8px;
    padding-inline: 8px;
}
.attach input {
    font-size: 0.9rem;
}
.attach ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap:4px;
}
.attach li {
    border: 1px solid black;
    padding: 4px 8px;
    font-size: 0.8rem;
    border-radius: 4px;
}