.table {
  border-collapse: collapse;
  width: 100%;
  font-size: clamp(0.7rem, 0.8vw + 0.5rem, 0.85rem);
  border: 1px solid #ccc;
}

.table thead th {
  font-weight: 600;
  text-align: center;
  background-color: rgb(118, 146, 120);
  color: rgb(227, 248, 229);
  letter-spacing: 0.5px;
  padding-block: 8px;
}

.table, .table tr, .table td, .table th {
    border: 0.5px solid rgb(163, 184, 149);
}

.table th, .table td {
    padding: 4px 8px;
}

.table tr:nth-child(odd) {
    background-color: rgb(233, 242, 233);
}

.table tbody tr:hover {
  background-color: rgb(118, 146, 120);
  color: rgb(227, 248, 229);
  border: none;
  cursor: pointer;
}
