.headerContainer {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.btnContainer {
    display: flex;
    justify-content: end;
    gap:8px;
    margin-bottom: 12px;
}
.btnContainer button {
    background-color: transparent;
    border:none;
    width:10ch;
    height: fit-content;
    font-size: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
}
.btnContainer .save {
    background-color: rgb(58, 123, 255);
    border: 1px solid rgb(58, 123, 255);
    font-weight: 900;
    color: white;
}
.btnContainer .save:hover {
    background-color: rgb(24, 101, 255);
    border: 1px solid rgb(24, 101, 255);
    font-weight: 900;
}
.btnContainer .close {
    border: 1px solid rgb(204, 110, 110);
    color: rgb(204, 110, 110);
    font-weight: 600;
}
.btnContainer .close:hover {
    background-color: rgb(204, 110, 110);
    color: white;
}
.btnContainer .reject {
    border: 1px solid rgb(255, 111, 111);
    color: rgb(255, 111, 111);
    font-weight: 600;
}
.btnContainer .reject:hover {
    color: white;
    background-color: rgb(255, 111, 111);
}

/* for edit view */
.detailContainer {
    display: flex;
    flex-direction: column;
    gap:12px;
    font-size: 0.875rem;
}
.detailContainer > div {
    display: flex;
    flex-wrap: wrap;
}
.detailContainer > div > div:first-child {
    margin-right: 32px;
    margin-bottom: 4px;
}
.detailContainer span {
    font-weight: 900;
    margin-right: 2px;
}
.detailContainer > *:last-child {
    margin-bottom: 24px;
}

.canvassStatus {
    display: flex;
    font-weight: 600;
    font-size: 0.85rem;
    letter-spacing: 1px;
    align-items: center;
    gap:6px;
    width: fit-content;
    padding:4px 6px;
    border-radius: 120px;
    position: absolute;
    right:-4px;
    top:-40px;
    box-shadow: 1px 1px 4px rgb(156, 156, 156);
    cursor: default;
}
.canvassStatus:hover {
    top:-41px;
    letter-spacing: 1.2px;
    transition: 200ms;
    box-shadow: 2px 2px 4px rgb(156, 156, 156);
}
.canvassStatus:hover p, .canvassStatus:hover img {
    opacity: 1;
    transition: 350ms;
}
.canvassStatus p {
    opacity: 0.6;
}
.canvassStatus img {
    height:1.1rem;
    opacity: 0.6;
}

.Pending {
    background-color: rgb(251, 211, 90);
}
.NeedsAttention {
    background-color: rgb(255, 137, 137);
}
.Approved {
    background-color: rgb(212, 255, 212);
}


.remarks {
    margin:6px;
    padding-inline: 8px;
    border-left:4px solid rgb(165, 32, 32);; 
    color:rgb(55, 55, 55);
    color: rgb(165, 32, 32);
}
.remarks > p:first-child {
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 1.2rem;
    /* background-color: rgb(255, 137, 137); */
    /* color: rgb(133, 73, 73); */
    margin-left:-8px;
    padding-inline:12px;
    width: fit-content;
}
.remarks > p:last-child {
    padding:4px;
    margin-left: 12px;
    opacity: 0.7;
}
.remarks span {
    font-weight: 600;    
}



.pdfContainer {
    position: relative;
}
.pdfContainer > button {
    position: absolute;
    right:0;
    background-color: rgb(58, 123, 255);
    border: none;
    font-weight: 900;
    color: white;
    border-radius: 8px;
    padding: 2px 16px;
    cursor: pointer;
}
.pdfContainer > button:hover {
    background-color: rgb(150, 183, 255);
    color: rgb(45, 90, 180);
    letter-spacing: 1px;
    transition: 300ms;
    box-shadow: 1px 1px 4px gray;
}
.pdfContainer > button:hover:active {
    transition: 50ms;
    letter-spacing: 0px;
    box-shadow: none;
    background-color: rgb(132, 163, 231);
}