.btnContainer {
    display: flex;
    justify-content: end;
    gap:8px;
    margin-bottom: 12px;
}
.btnContainer button {
    background-color: transparent;
    border:none;
    width:10ch;
    font-size: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
}
.btnContainer .save {
    background-color: rgb(58, 123, 255);
    border: 1px solid rgb(58, 123, 255);
    font-weight: 900;
    color: white;
}
.btnContainer .save:hover {
    opacity: 0.75;
}
.btnContainer .close {
    border: 1px solid rgb(180, 180, 180);
    color: rgb(180, 180, 180);
    font-weight: 600;
}
.btnContainer .close:hover {
    background-color: rgb(180, 180, 180);
    color: white;
}


/* for edit view */
.detailContainer {
    padding-inline: 8px;
    padding-block: 16px;
    display: flex;
    flex-direction: column;
    gap:12px;
    
}
.detailContainer > div:nth-child(1) {
    text-align: center;
}
.detailContainer > div:nth-child(1) > p:nth-child(1) {
    font-weight: 900;
    font-size: 1.2rem;
    margin-bottom: -2px;
    letter-spacing: 0.6px;
}
.detailContainer span {
    font-weight: 600;
}