.btnContainer {
    display: flex;
    justify-content: end;
    gap:8px;
    margin-bottom: 12px;
}
.btnContainer button {
    background-color: transparent;
    border:none;
    width:10ch;
    font-size: 0.8rem;
    border-radius: 8px;
    cursor: pointer;
}
.btnContainer .save {
    background-color: rgb(31, 94, 221);
    border: 1px solid rgb(31, 94, 221);
    font-weight: 900;
    color: white;
}
.btnContainer .save:hover {
    opacity: 0.75;
}
.btnContainer .close {
    border: 1px solid rgb(180, 180, 180);
    color: rgb(180, 180, 180);
    font-weight: 600;
}
.btnContainer .close:hover {
    background-color: rgb(180, 180, 180);
    color: white;
}